<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Pic</title>
</head>
    <body>
        <img id="picture" src="{{ img_src }}" ></img>
        <h2>Breed: {{breed}} </h2>
    </body>
</html>